h4, p {
	margin: 0;
}

.f-wrap {
	flex-wrap: wrap;
}

.mt10 {
	margin-top: 10px !important;
}

.blue-dash,
.white-dash {
	display: block;
	height: 2px;
	width: 15px;
	margin-top: 9px;
	margin-right: 12px;
	background-color: #3DCCC6;
}

.white-dash {
	background-color: white;
}

.main ul {
	margin-top: 20px;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

.main ul li {
	display: flex;
}

.main ul li,
.section__my-tasks,
.deal__desc,
.deal__desc p,
.invite__desc p {
	margin-top: 20px;
}

ul li:first-child {
	margin-top: 0;
}

.sections .content-wrap,
.tarif-faq .content-wrap {
	flex-direction: column;
}

.sections .content-wrap {
	padding-bottom: 50px;
}

.myteam-desc.content {
	display: flex;
	align-items: center;
	min-height: inherit;
}

.myteam-desc__left {
	width: 500px;
}

.myteam-desc__divider {
	width: 3px;
	height: 254px;
	margin: 0 25px;
	background-image: linear-gradient(to top, #60C0BA, #35A3A7)
}

.myteam-desc__right {
	width: 300px;
}

.myteam-desc__left {
	margin: 0;
}

.myteam-desc__right p {
	margin: 0;
	font-size: 20px;
	color: #31A3B7;
}

@media (max-width: 768px) {

	.myteam-desc.content {
		flex-direction: column;
	}

	.myteam-desc__left,
	.myteam-desc__right,
	.myteam-desc__divider {
		width: 100%;
	}

	.myteam-desc__divider {
		height: 3px;
		margin: 20px 0;
	}

}
.main-adv {
	padding-top: 15px;
	padding-right: 65px;
	background-color: #F6F8FA;
}

.main-adv .content-wrap {
	align-items: center;
}

.main-adv__text {
	margin-right: 37px;
}

.main-adv img {
	align-self: flex-end;
	min-width: 219px;
	height: 270px;
	box-shadow: 0 15px 33px 0 rgba(24,67,85,0.47);
}

.sections {
	position: relative;
	padding-top: 33px;
	background-color: #EAEEF1;
}

.section {
	display: flex;
	padding-bottom: 30px;
	border-bottom: 1px solid #CCDAE3;
}

.section:last-child {
	padding-bottom: 0;
	border: none;
}

.section img {
	box-shadow: 0 15px 33px 0 rgba(24,67,85,0.47);
}

.section:first-child {
	margin-top: 33px;
}

.section__myteam,
.my-messages,
.my-messages__img, 
.my-settings__img {
	margin-right: 60px;
}

.section__myteam-img {
	min-width: 170px;
	height: 268px;
}

.section__my-tasks,
.section__myteam-img {
	margin-right: 90px;
}

.section__my-tasks p,
.schedule__desc p,
.tarif-faq__free,
.tarif-faq__pro,
.tarif-faq__business,
.section {
	margin-top: 30px;
}

@media (max-width: 1200px) {
	.main-adv,
	.sections {
		padding: 0;
	}
}

@media (max-width: 768px) {
	.main-adv .content-wrap {
		flex-wrap: wrap;
	}

	.main-adv__text {
		width: 100%;
		margin: 0;
	}

	.main-adv img {
		margin: 0 auto;
		margin-top: 20px;
	}
}

@media (max-width: 576px) {
	.main-adv img {
		display: none;
	}
}

.my-tasks__desc p:first-child {
	margin: 0;
}

.section__my-tasks strong,
.schedule__desc strong {
	color: #33A2BC;
}

.my-tasks__img {
	min-width: 178px;
	height: 800px;
	margin-right: 44px;
}

.my-tasks__desc {
	margin-top: 60px;
}

.schedule {
	display: flex;
}

.schedule__desc {
	margin-right: 40px;
}

.schedule__img {
	min-width: 300px;
	height: 313px;
}

.ps {
	margin-top: 40px;
	font-size: 14px;
}

.blog,
.my-services,
.my-feedbacks,
.my-messages {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.blog {
	margin-right: 90px;
}

.blog__img {
	min-width: 273px;
	height: 254px;
	margin-right: 20px;
}

.my-services,
.my-messages {
	padding-left: 100px;
}

.my-services__img {
	min-width: 205px;
	height: 223px;
	margin-right: 30px;
}

.my-feedbacks {
	margin-right: 95px;
}

.my-feedbacks__img {
	min-width: 176px;
	height: 262px;
	margin-right: 65px;
	padding-left: 55px;
}

.my-messages__img {
	min-width: 176px;
	height: 213px;
}

.my-settings {
	margin-right: 80px;
}

.my-settings__img {
	min-width: 207px;
	height: 319px;
	padding-left: 30px;
}

@media (max-width: 768px) {
	.section__my-tasks,
	.section__myteam-img,
	.blog,
	.my-feedbacks,
	.my-settings {
		margin-right: 0;
	}

	.my-services,
	.my-messages {
		padding-left: 0;
	}
}

@media (max-width: 576px) {
	.sections img {
		display: none;
	}

	.section__myteam,
	.schedule__desc,
	.my-messages {
		margin-right: 0;
	}
}

.deal {
	background-color: white;
}

.deal .content-wrap {
	padding-top: 43px;
	padding-bottom: 60px;
}

.deal__desc {
	margin-right: 35px;
}

.deal__desc p:first-child {
	margin-top: 0;
}

.deal__img {
	min-width: 156px;
	height: 180px;
	margin-right: 40px;
}

.invite {
	background-color: #F6F8FA;
}

.invite .content-wrap {
	padding-top: 47px;
	padding-bottom: 47px;
}

.invite__desc {
	margin-right: 74px;
}

.invite__img {
	width: 292px;
	height: 219px;
	margin-right: 15px;
}

@media (max-width: 768px) {
	.deal .content-wrap,
	.invite .content-wrap {
		flex-wrap: wrap;
		padding: 30px;
	}

	.deal__desc,
	.invite__desc,
	.deal__img,
	.invite__img {
		margin: 0;
	}

	.deal__img,
	.invite__img {
		margin: 0 auto;
		margin-top: 20px;
	}
}

@media (max-width: 576px) {
	.deal .content-wrap,
	.invite .content-wrap {
		padding: 15px;
	}
}

.tarif-faq {
	background-color: #EAEEF1;
}

.tarif-faq .content-wrap {
	padding-top: 50px;
	padding-bottom: 58px;
}

.tarif-faq__free,
.tarif-faq__pro,
.tarif-faq__business {
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 30px;
	border-radius: 8px;
}

.tarif-faq__free p,
.tarif-faq__pro p,
.tarif-faq__business p {
	margin-top: 5px;
}

.tarif-faq__free {
	background-color: white;
}

.tarif-faq__pro {
	color: white;
	background: linear-gradient(0deg, #3DCCC6 0%, #31A3B7 100%);
}

.tarif-faq__business {
	background: linear-gradient(0deg, #EFE500 0%, #FFB700 100%);
}

.faq__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-right: 70px;
	padding-bottom: 17px;
}

.faq__header h3 {
	max-width: 100px;
}

.faq__header p:nth-child(2) {
	max-width: 260px;
}

.faq__header p:nth-child(3) {
	max-width: 160px;
}

.faq__body {
	display: flex;
	padding-top: 10px;
}

.tarif-faq__pro .faq__body {
	border-top: 1px solid rgba(229, 229, 229, 0.3)
}

.tarif-faq__business .faq__body {
	border-top: 1px solid rgba(40, 50, 57, 0.3);
}

.faq__body-opportunity {
	margin-right: 60px;
}

.faq__body-icons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-width: 128px;
	border-radius: 6px;
	background-color: rgba(40,50,57,0.18);
}

.faq__body-icons img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.faq__body-icon img {
	object-fit: contain;
}

.faq__body-portrait {
	overflow: hidden;
}

.faq__body-portrait img {
	width: 36px;
	height: 36px;	
	filter: blur(1.5px);
}

.tarif-faq__pro .faq__body-portrait {
	border: 2px solid #3DCCC6;
	border-radius: 50%;
	
}

.tarif-faq__business .faq__body-portrait {
	border: 2px solid #FFB700;
	border-radius: 50%;
}

.faq__body-icon img {
	width: 48px;
	height: 48px;
}

.faq__body-qr img {
	width: 47px;
	height: 62px;
}

.tarif-faq__terminology {
	margin-top: 35px;
	padding-top: 35px;
	border-top: 1px solid #CCDAE3;
}

.tarif-faq__terminology p {
	margin-top: 20px;
}
@media (max-width: 1200px) {
	.tarif-faq .content-wrap {
		padding: 30px;
	}
}

@media (max-width: 768px) {
	.faq__header {
		flex-direction: column;
		align-items: flex-start;
		margin-right: 0;
	}

	.faq__header h3,
	.faq__header p:nth-child(2),
	.faq__header p:nth-child(3) {
		max-width: 100%;
	}

	.faq__header p {
		margin-top: 10px;
	}

	.faq__header br {
		display: none;
	}

}

@media (max-width: 576px) {
	.tarif-faq__free,
	.tarif-faq__pro,
	.tarif-faq__business,
	.tarif-faq .content-wrap {
		padding: 15px;
	}

	.faq__body-opportunity {
		margin-right: 0;
	}

	.faq__body {
		flex-direction: column;
	}

	.faq__body-icons {
		flex-direction: row;
		margin-top: 20px;
		padding: 15px;
	}

}