main > div:not(.container) {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

.content-wrap {
    position: relative;
    display: flex;
    width: calc(100% - 250px);
    margin-left: auto;
    padding-left: 44px;
    padding-right: 30px;
}

.main-header {
    padding-top: 58px;
    padding-bottom: 48px;
    background: linear-gradient(270deg, #3DCCC6 0%, #31A3B7 100%);
}

.main-header p {
    max-width: 620px;
    width: 100%;
    margin: 0;
    margin-right: 75px;
    font-size: 24px;
    line-height: 1.3;
    color: white;
}

.main-header img {
    width: 115px;
    height: 92px;
}

@media (max-width: 1200px) {
    .content-wrap {
        width: 100%;
        padding: 30px;
    }

    .main-header {
        padding: 0;
    }

    .main-header p {
        margin-right: 10px;
    }
}

@media (max-width: 576px) {
    .content-wrap {
        flex-wrap: wrap;
        padding: 15px;
    }

    .main-header p {
        margin: 0;
    }
}

.content__text p {
    line-height: 1.3;
}

.content__prices,
.earn__blocks {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

@media (max-width: 992px) {
    .content__prices {
        margin-top: 25px;
        padding: 20px 0;
        overflow-x: auto;
    }
}

.prices__column {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-width: 170px;
    height: 550px;
    margin-right: 15px;
    padding-left: 24px;
    padding-right: 17px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 5px 0 rgba(24,67,85,0.15);
}

.th {
    padding: 0;
    background-color: transparent;
    box-shadow: none;
}

.th .column__cell {
    justify-content: flex-start;
}

.th .column__cell p {
    font-size: 14px;
    line-height: 16px;
}

.prices__title {
    height: 165px;
}

.prices__title h4 {
    margin: 0;
    margin-top: 20px;
    font-size: 20px;
    font-weight: normal;
}

.prices__title p {
    margin: 0;
    margin-top: 5px;
    font-size: 13px;
    line-height: 1.3;
}

@media (max-width: 992px) {
    .prices__title {
        height: 190px;
    }

    .prices__column {
        padding-bottom: 20px;
    }
}

.column__cell p {
    margin: 0;
}

.column__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    border-top: 1px solid #E5E5E5;
}

.height50 {
    height: 50px;
}

.height60 {
    height: 60px;
}

.prices__column a {
    display: block;
    width: 95%;
    margin-top: 10px;
    padding: 9px 0;
    font-size: 14px;
    color: #31A3B7;
    text-align: center;
    border: 1px solid #3DCCC6;
    border-radius: 46px;
}

.prices__column a:hover {
    color: white;
    background-color: #3DCCC6;
}

a.gradient_btn {
    padding: 10px 0;
    color: white;
    background: linear-gradient(180deg, #3DCCC6 0%, #31A3B7 100%);
    border: transparent;
    transition: none;
}

a.gradient_btn:hover {
    background: #3DCCC6;
}

.blue,
.yellow,
.empty {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 16px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.blue {
    background: linear-gradient(0deg, #3DCCC6 0%, #31A3B7 100%);
}

.yellow {
    background: linear-gradient(0deg, #EFE500 0%, #FFB700 100%);
}

.box_shadow {
    box-shadow: 0 15px 33px 0 rgba(49,163,183,0.46);
}

@media (max-width: 992px) {
    .box_shadow {
        box-shadow: 0 0 16px 0 rgba(49,163,183,0.46);
    }
}

.content__profit {
    display: flex;
    align-items: center;
    margin-top: 88px;
    padding-top: 32px;
    padding-right: 66px;
    padding-bottom: 48px;
    padding-left: 42px;
    color: white;
    border-radius: 8px;
    background: linear-gradient(0deg, #3DCCC6 0%, #31A3B7 100%);
}

.content__profit p:first-child {
    margin-top: 24px;
}

.content__profit p {
    margin: 15px 0;
}

.content__profit-text {
    margin-right: 100px;
}

.content__profit img {
    width: 143px;
    height: 126px;
}

@media (max-width: 768px) {
    .content__profit {
        padding: 30px;
    }
}

@media (max-width: 768px) {
    .content__profit {
        margin-top: 30px;
    }

    .content__profit-text {
        margin-right: 50px;
    }
}

@media (max-width: 576px) {
    .content__profit {
        justify-content: center;
        flex-wrap: wrap;
        padding: 15px;
    }

    .content__profit-text {
        margin-right: 10px;
    }
}

.earn {
    padding-top: 46px;
    padding-bottom: 51px;
    background-color: #F6F8FA;
}

.earn .content-wrap,
.payment .content-wrap {
    flex-wrap: wrap;
}

.earn__blocks {
    width: 100%;
    margin-top: 27px;
}

.earn__block {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 264px;
    height: 207px;
    padding-right: 28px;
    padding-left: 24px;
    line-height: 1.25;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 5px 0 rgba(24,67,85,0.15);
}

.earn__block img {
    margin-top: 36px;
}

.earn__block strong {
    margin-top: 21px;
}

.earn__block p {
    margin: 0;
}

@media (max-width: 1200px) {
    .earn {
        padding: 30px 0;
    }
}

@media (max-width: 992px) {
    .earn .content-wrap {
        justify-content: center;
    }
    .earn__blocks {
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 0;
    }

    .earn__block {
        margin-top: 20px;
        margin-right: 20px;
    }

    .earn__block:last-child {
        margin-right: 0;
    }
}

@media (max-width: 576px) {
    .earn {
        padding: 15px 0;
    }
    .earn__block {
        width: 100%;
        height: 180px;
        margin-right: 0;
        padding: 0 15px;
    }
}

.payment {
    padding-top: 31px;
    background-color: #EAEEF1;
}

.payment .content-wrap {
    padding-bottom: 43px;
}

.payment__vars {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 26px;
}

.payment__var {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 188px;
    height: 207px;
    text-align: center;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 5px 0 rgba(24,67,85,0.15);
}

.payment__var img {
    height: 75px;
}

.payment__var p {
    width: 50%;
}

.payment__faq {
    margin-top: 70px;
}

@media (max-width: 992px) {
    .payment__vars {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0;
    }

    .payment__var {
        margin-top: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 576px) {
    .payment__faq {
        margin-top: 30px;
    }
}

.accordion {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.accordion:first-of-type {
    margin-top: 26px;
}

.accordion img {
    transition: transform 0.4s
}

.activeAcc, .accordion:hover {
    background-color: #ccc;
}

.activeAcc img {
    transform: rotate(180deg);
    transition: transform 0.4s
}

.panel {
    max-height: 0;
    padding: 0 18px;
    background-color: transparent;
    border-bottom: 1px solid white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel:last-child {
    border: none;
}

.choose {
    background-color: white;
    z-index: 0;
}

.choose .content-wrap {
    justify-content: space-between;
    padding: 0;
    background-color: #E5E5E5;
}

.choose__sign-in,
.choose__sign-up {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    padding-top: 62px;
    background-color: white;
}

.choose__sign-in {
    width: calc(50% - 1px);
}

.choose__sign-in img,
.choose__sign-up img {
    height: 170px;
    margin-top: 50px;
}

.choose__sign-in p,
.choose__sign-up p {
    margin-top: 10px;
}

.choose__or {
    position: absolute;
    right: calc(50% - 30px);
    top: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 1px solid #E5E5E5;
    border-radius: 50%;
    background-color: white;
}

.choose a {
    display: block;
    width: 270px;
    padding: 13px 0;
    font-weight: bold;
    color: white;
    text-align: center;
    border-radius: 100px;
    background: linear-gradient(180deg, #3DCCC6 0%, #31A3B7 100%);
    box-shadow: 0 12px 9px 0 rgba(61,204,198,0.17), 0 2px 4px 0 rgba(0,0,0,0.5);
}

.choose a:hover {
    background: #3DCCC6;
}

@media (max-width: 576px) {
    .choose .content-wrap {
        flex-wrap: wrap;
    }

    .choose__sign-in,
    .choose__sign-up {
        width: 100%;
        padding-top: 30px;
    }

    .choose__sign-in {
        padding-bottom: 50px;
    }

    .choose__sign-up {
        padding-top: 50px;
        margin-top: 1px;
    }

    .choose__sign-in img,
    .choose__sign-up img {
        margin-top: 30px;
    }

    .choose__or {
        top: calc(50% - 15px);
    }
}